body{
    
    display: flex;
    justify-content: center;
    align-content: center;
    
}
header{
    display: inline-block;
}
button{
    height: 10px;
    width: 10px;
    position: absolute;
    transform: translate(400px,600px);
    cursor: pointer;
}
.troll{
    position: absolute;
    transform: translate(-00px ,200px);
    
}
img{
    
    opacity: 0;
    scale: 1;
    transform: rotateY(0deg);
    transition: ease-in 1s;
}

.rotate{
    opacity: 1;
    scale: 3;
}